<!DOCTYPE html>
<html>
  <head>
    <title>Letteria</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= favicon_link_tag "favicon.ico", rel: "apple-touch-icon" %>
    
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="min-h-[100svh] w-full bg-stone-50 overflow-hidden">
    <%= yield %>
  </body>
</html>
